<ion-header>
  <ion-toolbar>
    <ion-title>
      Botones de Remedios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" color="primary" (click)="remedio1()">
    Remedio 1
  </ion-button>

  <ion-button expand="full" color="secondary" (click)="remedio2()">
    Remedio 2
  </ion-button>

  <ion-button expand="full" color="danger" (click)="sos()">
    SOS
  </ion-button>

  <ion-button expand="full" color="tertiary" (click)="ubicacion()">
    Ubicación
  </ion-button>
</ion-content>

